img{
  width: 100px;
  height: 100px;
}

.search{
  padding: 20px 10%;
}

.search > form{
  display: flex;
}

.search > form > input{
  width: 70%;
}
.search > form > button{
  width: 30%;
}

.book{
  padding: 20px;
}

.bold{
  font-weight: bold;
}