img{
  width: 100px;
  height: 100px;
}

.search{
  padding: 20px 10%;
}

.search > form{
  display: flex;
}

.search > form input{
  width: 70%;
  padding: 5px;
}

.search > form input[type=checkbox]{
  transform: scale(1.5);
}
.search > form button{
  width: 30%;
}

.book{
  padding: 20px;
}

.bold{
  font-weight: bold;
}

.pagination{
  justify-content: center;
}

.pagination li a {
  border: 1px solid gray;
  padding: 5px 13px;
  margin: 1px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.pagination li.active a {
  background: red;
  color: yellow;
  border: 1px solid yellow;
  font-weight: bold;
}

.pagination li.disabled a {
  cursor: context-menu;
  opacity: 0.5;
}